
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap');

* , body
{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

html
{
    scroll-behavior: smooth;
}

p
{
  font-size: 18px;

  
  text-align: justify;
  color: #444;

  
  
}

.btn
{
  font-size: 18px;
  text-transform: capitalize;
}

.btn:focus
{
  box-shadow: 0 0 0 0.2rem rgba(255 , 189 , 76 , 0.25);
}




/********* header start *****/

#header
{
    font-weight: 700;
    color: #626262;
}

.start-btn , .service-btn , .msg-btn 
{
    border: 1px solid #FFAA17;
    
}





.start-btn:hover , .service-btn:hover , .msg-btn:hover
{
    background-color: #FFAA17;
    color: #fff;
}

.call-btn:hover
{
  border: 1px solid #FFAA17;
  background: transparent;
}

.dropdown-item:hover
{
  background-color: #FFAA17;
  color: #fff;
  
}

.dropdown-item
{
  font-weight: 700;
}

.navbar-light .navbar-nav .active > .nav-link , .navbar-light .navbar-nav .nav-link:hover , .navbar-light .navbar-nav .nav-link:focus
{
  color: #FFAA17;
}

.navbar-light .navbar-nav .nav-link.active
{
  color: #FFAA17;
}

.dropdown-menu
{
  border-top: 4px solid #FFAA17;
}

.nav-item .nav-link , .nav-item .dropdown-item
{
  font-size: 18px;
}

/******** header end **********/

/********** hero starts*******/ 

.hero-btn
{
    background: #FFAA17;
    
    
    

}

.hero-btn:hover
{
    background: transparent;
    border: 1px solid #FFAA17;
    color: #fff;
}

.jumbotron h1
{
  font-weight: 600;
}

/******** hero end ********/

/********* about *********/

.about h3::after
{
  content: "";
  height: 3px;
  padding-top: 5px;
  width: 90px;
  display: block;
  border-bottom: 3px solid #FFAA17;
}

/******** about end ******/

/******** service section ********/

.services h3::after , .pricing h3::after , .testimonial h3::after , .contact .contact-head::after , .banner h1::after
{
  content: "";
  height: 3px;
  padding-top: 5px;
  width: 90px;
  display: block;
  border-bottom: 3px solid #FFAA17;
  margin: 0 auto;
}



.services {
  padding-bottom: 30px;
  text-align: center;
  padding: 50px 0px;
  background: #f5f5f5;
}

.pos-btn 
{
  margin-top: 35px;
}

.fp-btn
{
  margin-top: 60px;
}

.fbv-btn
{
  margin-top: 32px;
}

.rms-btn , .dm-btn
{
  margin-top: 60px;
}



.services .section-title h2 {
  color: #444;
  font-size: 42px;
}
.services .section-title p {
  text-align: center;
  font-style: italic;
  margin-bottom: 40px;
  color: #666;
}
.services .service-box {
  margin-bottom: 30px;
  padding: 15px;
  text-align: center;
  box-shadow: 0px 0 5px #bdbdbd;
  float: left;
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 75vh;
}
.services .service-box::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  left: 0px;
  top: -500px;
  z-index: -1;
  transition: 1s;
}
.services .service-box:hover::after {
  top: 0px;
}
.services i {
  display: flex;
  justify-content: center;
}
.services i {
  width: 70px;
  height: 70px;
  margin-bottom: 30px;
  background: #ffffff;
  border-radius: 100%;
  transition: 0.5s;
  color: #FFAA17;
  font-size: 35px;
  overflow: hidden;
  padding-top: 18px;
  box-shadow: 0px 0 5px #bdbdbd;
  margin: 10px auto 15px;
}
.services h4 {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 18px;
  position: relative;
}
.services h4 a {
  color: #444;
  text-decoration: none;
  font-weight: 700;
}
.services h4 a:hover {
  color: #FFAA17;
}




  
  

/******* service section end ******/

/**************** pricing starts *******/



.pricing-option {
  margin-bottom: 20px;
  border: 15px solid rgba(0, 0, 0, 0.05);
  text-align: center;
}
.pricing-option__inner {
  background-color: white;
}
.pricing-option_popular {
  position: relative;
}
.pricing-option_popular::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  height: 0;
  width: 0;
  border-left: 60px solid #F7941D;
  border-bottom: 60px solid transparent;
}
.pricing-option_popular::after {
  content: "\f0e7";
  font-family: "FontAwesome";
  font-size: 16px;
  position: absolute;
  display: block;
  top: -5px;
  left: 0;
  color: white;
}
.pricing-option__inner {
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: all .1s;
       -o-transition: all .1s;
          transition: all .1s;
}
.pricing-option__inner:hover {
  border-color: rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
}
.pricing-option__header {
  padding: 15px 10px;
}
.pricing-option__header h5,
.pricing-option__header .h5 {
  font-weight: 600;
  font-size: 14px;
}

.pricing-option-price__currency {
  vertical-align: 90%;
}
.pricing-option-price__number {
  font-size: 36px;
  font-weight: 300;
}
.pricing-option__body {
  padding: 10px 0 15px;
}
.pricing-option__body ul > li {
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  color: #999;
}
.pricing-option__body ul > li:last-child {
  border-bottom: 0;
}
/* Pricing Options - Joint */
.pricing-options_joint {
  padding: 10px;
  margin-bottom: 40px;
  background-color: rgba(0, 0, 0, 0.05);
}
.pricing-options_joint .row {
  margin-left: 0;
  margin-right: 0;
}
.pricing-options_joint [class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}
.pricing-options_joint .pricing-option {
  margin-bottom: 0;
  border: 5px solid transparent;
}
.pricing-options_joint .pricing-option_popular:before {
  top: 0;
  left: 0;
}
.pricing-options_joint .pricing-option_popular:after {
  top: 10px;
  left: 15px;
}
/* Pricing Options - Table */
.pricing-options_table {
  border: 15px solid rgba(0, 0, 0, 0.05);
}
.pricing-options-table__table {
  margin-bottom: 0;
  text-align: center;
}
.pricing-options-table__table > thead > tr > th {
  text-align: center;
  padding: 0;
}

.pricing-options-table__table .pricing-option_popular:before {
  border-bottom-width: 40px;
  border-left-width: 40px;
  top: 0;
  left: 0;
}
.pricing-options-table__table .pricing-option_popular:after {
  font-size: 12px;
  top: 5px;
  left: 11px;
}
.pricing-options-table__table .fa-check {
  color: rgba(0, 0, 0, 0.4);
}
.pricing-options-table__table .fa-times {
  color: rgba(0, 0, 0, 0.2);
}
.pricing-options-table__title {
  vertical-align: middle !important;
  padding-left: 20px !important;
  text-align: left;
}

.quote-btn
{border: 1px solid #FFAA17;

}

.quote-btn:hover
{
  background: #FFAA17;
  color: #fff;
}

.silver-btn
{
  background: #FFAA17;
  color: #fff;
}

.silver-btn:hover
{
  background: none;
  border: 1px solid #FFAA17;
}


.modal-notify .modal-header {
  border-radius: 3px 3px 0 0;
}
.modal-notify .modal-content {
  border-radius: 3px;
}


.send-btn:hover
{
  color: #000;
  border: 1px solid #FFAA17;
  background: transparent;
}

.send-btn
{
  background: #FFAA17;
}

/**************** pricing end **********/

/************** partners ***********/

.partners
{
  background: #f5f5f5;
}

.partners-head::after
{
  content: "";
  height: 3px;
  padding-top: 5px;
  width: 90px;
  display: block;
  border-bottom: 3px solid #FFAA17;
  margin: 0 auto;
}

/* Slider */

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}


/*********** partners end *********/

/*********** testimonial ***********/





.testimonial h4
{
  font-weight: 550;
}



blockquote {
  border-left:none
}

.quote-badge {
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.2);   
}

.quote-box {
  
  overflow: hidden;
  margin: 0 auto;
  padding: 25px;
  border-radius: 17px;
  background-color: #F7941D;
  color: white;
  width: 40vw;
  box-shadow: 2px 2px 2px 2px #E0E0E0;
  
  
}

.quote-mark {
  
  margin-top: 10px;
  font-weight: bold;
  font-size:100px;
  
  
}

.quote-text {
  
  font-size: 19px;
  margin-top: -50px;
  color: #fff;
}




/*********** testimonial end *********/



/********** contact *******/

.contact
{
    background-color: #fff;
  line-height: 1.9;
  
  position: relative;
}

.contact:before {
    z-index: -1;
    position: absolute;
    height: 50vh;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    background: #8bbabb; }

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    a, a:hover {
      text-decoration: none !important; }
  
  .text-black {
    color: #000; }
  
  .content {
    padding: 7rem 0; }
  
  .heading {
    font-size: 2.5rem;
    font-weight: 900; }



    .form h3::after
{
  content: "";
  height: 3px;
  padding-top: 5px;
  width: 90px;
  display: block;
  border-bottom: 3px solid #FFAA17;
  
}
  
  .form-control {
    border: none;
    border-bottom: 1px solid #ccc;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    background: none; }


    .form-control:active, .form-control:focus {
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      border-color: #000; }
  
  .col-form-label {
    color: #000;
    font-size: 13px; }
  

  
  .custom-select:active, .custom-select:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #000; }
  

 
    
  .contact-wrap {
    -webkit-box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2); }


    .contact-wrap .col-form-label {
      font-size: 22px;
      color: #b3b3b3;
      margin: 0 0 10px 0;
      display: inline-block;
      padding: 0; 
      font-weight: 400;
    
    }


    .contact-wrap .form, .contact-wrap .contact-info {
      padding: 40px; }
    .contact-wrap .contact-info {
      color: #fff; }


      .contact-wrap .contact-info ul li {
        margin-bottom: 15px;
        color: #fff;
        font-weight: 505;
        font-size: 18px;
      
      }


        .contact-wrap .contact-info ul li .wrap-icon {
          font-size: 20px;
          color: #fff;
          margin-top: 5px; }


    .contact-wrap .form {
      background: #fff; }


      .contact-wrap .form h3 {
        color: #FFAA17;
        font-size: 23px;
        margin-bottom: 30px;
        font-weight: 502;
        
      
       }


    .contact-wrap .contact-info {
      background: #FFAA17; }


      .contact-wrap .contact-info h3 {
        color: #000;
        font-size: 20px;
        margin-bottom: 30px;
        font-weight: 520;
      
      }

      .contact-info p
      {
        font-weight: 505;
        color: #fff;
        
      }
  
  label.error {
    font-size: 12px;
    color: red; }
  
  #message {
    resize: vertical; }
  
  #form-message-warning, #form-message-success {
    display: none; }
  
  #form-message-warning {
    color: #B90B0B; }
  
  #form-message-success {
    color: #55A44E;
    font-size: 18px;
    font-weight: bold; }
  
  .submitting {
    float: left;
    width: 100%;
    padding: 10px 0;
    display: none;
    font-weight: bold;
    font-size: 12px;
    color: #000; }
  

/********* contact end *******/

/********** social **********/

.social
{
    background: #C27329;
    
}

.social h6
{
  color: #fff;
}

.social a.btn-social  , .btn-social
{
  border-radius: 50%;
  color: #ffffff !important;
  display: inline-block;
  height: 54px;
  line-height: 54px;
  margin: 8px 4px;
  text-align: center;
  text-decoration: none;
  transition: background-color .3s;
  webkit-transition: background-color .3s;
  width: 54px;

}

.btn-social .fab , .btn-social i
{
  backface-visibility: hidden;
  moz-backface-visibility: hidden;
  ms-transform: scale(1);
  o-transform: scale(1);
  transform: scale(1);
  transition: all .25s;
  webkit-backface-visibility: hidden;
  webkit-transform: scale(1);
  webkit-transition: all .25s;
}

.btn-social:hover,.btn-social:focus
{
    color: #fff;
    outline: none;
    text-decoration: none;
}


.btn-social:hover .fa,.btn-social:focus .fa,.btn-social:hover i,.btn-social:focus i
{
    ms-transform: scale(1.3);
    o-transform: scale(1.3);
    transform: scale(1.3);
    webkit-transform: scale(1.3);
}


.btn-social.btn-xs
{
    font-size: 9px;
    height: 24px;
    line-height: 13px;
    margin: 6px 2px;
    width: 24px;
}
.btn-social.btn-sm
{
    font-size: 13px;
    height: 36px;
    line-height: 18px;
    margin: 6px 2px;
    width: 36px;
}
.btn-social.btn-lg
{
    font-size: 22px;
    height: 72px;
    line-height: 40px;
    margin: 10px 6px;
    width: 72px;
}






.social h6
{
  font-size: 20px;
}

/********* social end ********/

/********* footer ********/

.footer-bar
{
    background: #dcdde1;
}

.foot-links p
{
  text-align: left;
  font-size: 16px;
}

.foot-links a
{
    color: #626262;
    
}

.foot-links a:hover
{
    color: #000;
}


.footer-copyright
{
    background: #718093;
}

.footer-copyright a
{
    color: #000;
}

.teal
{
  border-top: 3px solid #FFAA17;
}



/******** footer end *******/

/************************************* About page *********************/

.banner .jumbotron
{
  background-image: linear-gradient(to right, rgba(53, 59, 72,0.7) , rgba(53, 59, 72,0.3)) , url('../images/about.jpg');

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  
}

/*************************************** about end *********************/

/*************************** services page ***************/

 .accordion .card .card-header
{
  background: #FFAA17;
}

.collapsible-link {
  width: 100%;
  position: relative;
  text-align: left;
}

.collapsible-link::before {
  content: '\002b';
  position: absolute;
  top: 50%;
  right: 0.8rem;
  transform: translateY(-50%);
  display: block;
  font-family: 'FontAwesome';
  font-size: 1.1rem;
}

.collapsible-link[aria-expanded='true']::before {
  content: '\2212';
}
/************************** services end *******************/

/************************ plans page **********************/



/********************** plans page end *******************/

/*************** consult ********/

.consult
{
  background-image: linear-gradient(to right, rgba(53, 59, 72,0.7) , rgba(53, 59, 72,0.7)) , url('../images/about.jpg');

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
}

.consult p
{
  font-size: 40px;
  color: #fff;
}

/************* consult end *******/

/************************** responsive section **************************/

@media (max-width:575.98px) {

  .jumbotron .display-4
  {
    font-size: 40px;
  }



  .consult p
  {
    font-size: 25px;
  }

  .services .service-box::after
  {
    background: #f5f5f5;
  }

  .services .service-box
  {
    height: 80vh;
  }

  .about h3
  {
    padding-top: 10px;
  }

  .banner h1
  {
    margin-top: 2rem;
  }


  .badge
  {
    font-size: 9px;
  }

  .contact-info p
  {
    text-align: left;
  }


  
}


@media (min-width: 576px) and (max-width: 767.98px) {

  .services .service-box::after
  {
    top: -725px;
  }
}


@media (min-width: 768px) and (max-width: 991.98px) {

  p
  {
    line-height: 2vh;
  }

  .services .service-box
  {
    height: 35vh;
  }

  .contact-wrap .contact-info ul li
  {
    font-size: 15px;
  }



 }

/************************** responsive section end *********************/